spring:
  datasource:
    url: jdbc:h2:mem:productosdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    show-sql: true
    format-sql: true
    hibernate:
      ddl-auto: create-drop #cada arranque limpia y crea tablas

  h2:
    console:
      enabled: true
      path: /h2-console
  server:
    port:8080